body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url('/pyFlask/static/images/sdBckgrnd.png') no-repeat center center fixed;
    background-size: 100% 100%;
    background-color: #000; /* Fallback for older browsers */
  }
  
  .eduGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      padding: 2rem;
    }
    
    .eduCard {
      background-color: #026d94aa;
      border: 2px solid #014d6a;
      border-radius: 12px;
      padding: 1.5rem;
      color: #76afb0;
      box-shadow: 0 0 10px #13b7d0;
      transition: transform 0.3s ease;
    }
    
    .eduCard:hover {
      transform: scale(1.02);
    }
    
    .eduLogo {
      width: 100px;
      height: 50px;
      margin-bottom: 10px;
    }
    
    .eduMeta {
      font-size: 0.9rem;
      color: #eb7d0f;
    }
    
    .eduSummary {
      margin: 0.5rem 0;
    }
    
    .bossBtn {
      margin-top: 2rem;
      margin-left: 30px;
      background-color: #026d94;
      border: 2px solid #014d6a;
      color: #76afb0;
      box-shadow: 0 0 10px #014d6a;
      padding: 12px 20px;
      border: none;
      border-radius: 10px;
      font-family: 'HyliaSerif', cursive;
      cursor: pointer;
    }
  
    .bossBtn:hover {
      background-color: #76afb0;
      color: #026d94;
      box-shadow: 0 0 10px #026d94;
  }
    .startBtn {
      margin-top: 2rem;
      margin-left: 30px;
      background-color: #026d94;
      border: 2px solid #014d6a;
      color: #76afb0;
      box-shadow: 0 0 10px #014d6a;
      padding: 12px 20px;
      border: none;
      border-radius: 10px;
      font-family: 'HyliaSerif', cursive;
      cursor: pointer;
  }
  .startBtn:hover {
      background-color: #76afb0;
      color: #026d94;
      box-shadow: 0 0 10px #026d94;
  }