body html {
  background-color: #1a1a1a;
  color: #fdf6e3;
  font-family: 'HyliaSerif', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
  
a {
  color: #fff;
  text-decoration: none;
}


@font-face {
  font-family: 'HyliaSerif';
  src: url('/pyFlask/static/fonts/HyliaSerifBeta-Regular.otf') format('opentype');
}

#destinationInput {
  padding: 10px;
  font-size: 16px;
  font-family: 'HyliaSerif', cursive;
  width: 60%;
  text-align: center;
  border: 2px solid #96c8eb;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #3193ee;
  color: #fdf6e3;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-small;
  margin-top: 100px;
  text-align: center;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 30px;
  height: 30px;
}
/*possible colors
35b4b3
a6eceb
#7fd2d8; possible winner for button colors.
*/