main {
  text-align: center;
  max-width: 800px;
}

.title-screen {
  position: relative;
  top: 100px;
  left: 300px;
  margin: auto;
  padding: 2rem;
  font-family: 'hyliaSerif', cursive;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-screen h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #baa065;
}

.title-screen p {
  color: #fffaf7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  text-shadow: #818080 0px 0px 10px,;
}

.title-screen img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.start-btn {
  display: inline-block;
  background-color: #7fd2d8;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#destinationInput {
  padding: 10px;
  font-size: 16px;
  font-family: 'HyliaSerif', cursive;
  width: 60%;
  text-align: center;
  border: 2px solid #fce4dc;
  border-radius: 8px;
  margin-top: 15px;
  background-color: #f9bcbc;
  color: #fffaf7;
}

#carouselText {
  font-size: 18px;
  font-style: italic;
  color: #3575a7;
  text-shadow: 0 0 30px #3575a7;
  margin-top: 15px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}

#destinationInput:focus {
  outline: none;
  color:#dd6e83;
  box-shadow: 0 0 10px #f9bcbc, 0 0 20px #facbdf;
  background-color: #944970;
}

.background-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.background-slideshow img.active {
  opacity: 1;
}