body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('/pyFlask/static/images/dmDay.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #000; /* Fallback for older browsers */
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  
  .jobCard {
    background-color: #6e3810 (0, 0 , 0, .8);
    border: 2px solid #a33006;
    border-radius: 12px;
    padding: 1.5rem;
    color: #f5ad1f;
    box-shadow: 0 0 10px #ff6a00;
    transition: transform 0.3s ease;
  }
  
  .jobCard:hover {
    transform: scale(1.02);
  }
  
  .jobLogo {
    width: 80px;
    margin-bottom: 10px;
  }
  
  .jobMeta {
    font-size: 0.9rem;
    color: #eb7d0f;
  }
  
  .jobSummary {
    margin: 0.5rem 0;
  }
  
  .expandBtn {
    background-color: #872e07;
    color: #eb7d0f;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'HyliaSerif', cursive;
  }
  
  .jobDetails {
    display: none;
    margin-top: 10px;
    text-align: left;
  }
  
  .jobCard.expanded .jobDetails {
    display: block;
  }
  
  .bossBtn {
    margin-top: 2rem;
    background-color: #ea4601;
    color: #fda41d;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-family: 'HyliaSerif', cursive;
    cursor: pointer;
  }
  